@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --deg: '';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@keyframes spinMain {
  to {
    transform: rotate(1440deg);
  }
}
.spin-wheel-first {
  animation: spinMain 2s ease-in;
}

.spin-wheel-main {
  animation: spinMain 1s linear;
  animation-iteration-count: infinite;
}

@keyframes spinLast {
  to {
    transform: var(--deg);
  }
}

.spin-wheel-last {
  animation: spinLast 5s ease-out;
}

.spin-bg {
  background-image: url('./images/WHEEL.png');
  width: 320px;
  height: 320px;
  border-radius: 9999px;
  background-size: 320px 320px;
  background-position: center;
}

